@font-face {
    font-family: "tenorite";
    src: url("//oslerleadership.com/fonts/Tenorite/Tenorite.ttf") format("truetype");
}
    
@font-face {
    font-family: "gilroy-medium";
    src: url("//oslerleadership.com/fonts/Gilroy/Gilroy-Medium.ttf") format("truetype")
}
@font-face {
    font-family: "raleway";
    src: url("//oslerleadership.com/fonts/raleway/Raleway-Light.ttf") format("truetype");
}